$color: #1e967b

body
  height: 100%
  max-height: 100%
  font-size: 1.9rem
  line-height: 1.55em
  color: #323232
  font-family: "Gotham SSm A","Gotham SSm B"
  font-weight: 300

.color-band
  height: 5px
  width: 100%
  background: #1e967b
  -webkit-transition: background .15s ease-in-out

.container
  width: 92%
  max-width: 800px
  margin: 4em auto
  text-align: center

h1
  font-family: "Tungsten Cond A","Tungsten Cond B"
  font-weight: 600
  font-style: normal
  line-height: .8
  margin-bottom: .5em
  margin-top: 0
  font-size: 7rem
  text-transform: uppercase
  letter-spacing: .015em
  text-align: center
  margin-bottom: -1rem

h2
  font-family: "Gotham SSm A","Gotham SSm B"
  font-weight: 300
  text-align: center
  font-size: 1.67rem

ul
  margin: 0 auto
  display: inline-block
  list-style: none
  width: 100%
  padding: 0
  li
    float: left
    margin: 1.9%
    width: 29.533333%
    text-align: center
    @media (screen and max-width: 450px)
      font-size: 1.33rem

a
  color: $color
  text-decoration: none
  &:hover
    color: $color - 20
    border-bottom: 1px solid $color - 20

.portrait
  background: #fff
  padding: 8px
  border: 1px solid #dedede
  border-radius: 500px
  padding: 0.3em 0.3em
  margin: 0 auto

hr
  border-style: none
  background: #dedede
  height: 1px

/* THIS IS MY JAM! */

#thatsmyjam
  text-align: left
  display: inline-block

.listening-to
  margin: 0
  padding: 0

.jam-avatar
  width: 85px

.jam-images
  float: left
  margin-right: 0
  width: 142px

.jam-body
  float: left

.user-avatar
  position: relative
  z-index: 2
  top: 15px
  right: 33px
  width: 40px
  background: #fff
  padding: 2px
  border: 1px solid #dedede
  box-shadow: 0 1px 1px #bababa

.listening-to
  color: #bababa
  text-transform: lowercase
  font-size: 1rem

.jam-title, .jam-artist
  margin: 0
  padding: 0
  text-align: left

.jam-header
  margin-bottom: 1rem

.jam-title
  font-weight: bold
  font-size: 2.67rem

.jam-artist span
  color: #666

.jam-caption
  color: #8a8a8a
  font-size: 1.33rem
  height: 1.33rem
  margin-bottom: 0.5rem

.jam-posted, .jam-cite
  font-size: 1rem
  color: #8a8a8a
  display: block
  date
    border-bottom: 1px dotted #cecece

#noJam
  p
    margin: 0 0 1.33rem
    font-size: 1.33rem
    line-height: 1.35em

$border: rgba(0, 0, 0, 0.2)

.finding
  float: left

.loading
  margin: 0 0 0 8px
  font-size: 1.25px
  position: relative
  text-indent: -9999em
  border-top: 1.1em solid $color
  border-right: 1.1em solid $color
  border-bottom: 1.1em solid $color
  border-left: 0
  -webkit-animation: load 0.6s infinite linear
  animation: load 0.6s infinite linear
  border-radius: 20px
  width: 26px
  height: 26px
  display: block
  float: left
  position: relative
  top: 10px
  &:after
    border-radius: 50%
    width: 10em
    height: 10em

@-webkit-keyframes load
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)


@keyframes load
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)
