%h1 About

.about
  %p I am a Seattle-based software engineer with proven leadership experience and nearly a decade of experience in writing code for the open web, including five years writing performant, scalable web applications in Ruby, Rails, Node.js, and JavaScript.

  %p I live on a boat in Seattle with my wife, son, two cats, and a dog.

  %p
    Get
    = succeed '.' do
      %a{href: 'mailto:nick@nickcox.me'} in touch
