%img.portrait{ src: 'images/nick_cox_portrait.jpg' }
%h1 Nick Cox
%h2 Software Engineer
%ul.links
  %li
    %a{ href: 'http://blog.nickcox.me' } Blog
  %li
    %a{ href: 'https://github.com/thenickcox' } GitHub
  %li
    %a{ href: 'mailto:nick@nickcox.me' } Contact

%hr

#thatsmyjam
  %p.listening-to My current jam:
  .jam-images
    %img.jam-avatar{ src: 'http://www.thisismyjam.com/includes/image/logo_beta@2x.png' }
    %img.user-avatar{ src: 'https://s3.amazonaws.com/thisismyjam/i/avtr_f11c2c16bf41af41dca36460e289d088_80.jpg' }
  .jam-body
    %header.jam-header
      %h2.jam-title
        %a{ href: 'https://www.thisismyjam.com/thenickcox/_a6te7lx' } ZZZ Top
      %h3.jam-artist
        by
        %span Aesop Rock
    %figcaption.jam-caption The beat and lyrics go together magically. What delivery!
    %small.jam-posted
      Posted
      %date Sat, 20 Jun 2015
    %cite.jam-cite
      Retrieved by the
      %a{ href: 'https://api.thatsmyjam.com' } That’s My Jam API

:coffeescript
  class App
    constructor: (request) ->
      @request = request

    initRequest: =>
      @request.open('GET', '/thenickcox.json', { async: false })

    sendRequest: =>
      @initRequest()
      @request.send()
      this

    populateDom: =>
      self = @
      @request.addEventListener 'loadend', ->
        if @status is 200 && @response
          resp = self.responseAsJSON(@response)
          person = resp.person
          self.domHook.innerHTML = self.setImageLink(person.avatarNormal, person.apiUrl)
          self.domHook.innerHTML += '<p>foo</p>'

    responseAsJSON: (resp) =>
      JSON.parse(resp)

    domHook:
      document.getElementById('thatsmyjam')

    setImageLink: (img, url) =>
      "<a href='" + url + "'><img src='" + img + "'></a>"

  #req = new XMLHttpRequest()
  #window.app = new App(req)
  #window.app.sendRequest().populateDom()
