%img{ src: 'images/nick_cox_portrait.jpg' }
%h1 Nick Cox
%h2 Software Engineer
%ul.links
  %li
    %a{ href: 'http://blog.nickcox.me' } Blog
  %li
    %a{ href: 'https://github.com/thenickcox' } GitHub
  %li
    %a{ href: 'mailto:nick@nickcox.me' } Contact

