%h1 Talks

%section.talk
  %h1 We All Make Mistakes: Learning From Gaffes in the Ruby Community
  %p Confessions of a software engineer. Considerations of impostor syndrome, anxiety, and blameless technical postmortems.
  %iframe{iframe_opts('rpeugzat2o4')}

%section.talk
  %h1 Fighting Burnout: Incorporating Rest Into the Software Development Workflow
  %p A talk about text editors, productivity, and developer ergonomics. Given at the Burlington Ruby Coneference in Burlington, VT.
  %iframe{iframe_opts('mZ6Pou9qm-M')}

%section.talk
  %h1 Contributing to Rails
  %p A talk about how to into contributing to Ruby on Rails on GitHub.
  %iframe{iframe_opts('5W2i9xwLufo')}
