%header
  %h1.name Nick Cox
  %addr 7001 Seaview Ave NW, Suite 160-12 Seattle, WA 98117
  %span
    206.395.5466
    |
    iamnicholascox@gmail.com
    |
    %image{ src: 'images/github-logo.svg', alt: 'Github logo' } thenickcox

.container
  %section.main
    %section.experience
      %h1 Selected Experience
      %ul
        %li
          %h2
            %strong Software Engineer
            Navigating Cancer — Seattle, WA
            %span.dates 07/2012–Present
          %ul
            %li Employ test-driven development to design and implement features from the database layer through the data model to the user interface, using Ruby, Rails, MySQL, RSpec, Sass, Haml, CoffeeScript, Backbone.js, and other cutting-edge web technologies
            %li Work closely with Vice President of Product and Senior Product Owner to iteratively improve user interface and overall web application design for nearly 880,000 cancer survivors
            %li Utilize pair programming to ensure DRY, testable, maintainable code

        %li
          %h2
            %strong Contributing Blogger
            Adobe Typekit — San Francisco, CA
            %span.dates 12/2011–10/2012
          %ul
            %li Wrote the “About Face” section of the Adobe Typekit blog, periodically featuring a typeface from the library of the world’s leading JavaScript webfont delivery platform
            %li Explored and introduced novel type pairings, creating original typesettings in HTML & CSS to illustrate the graphical and stylistic implications of the type combinations
            %li Promoted the proliferation of web typography excellence through the showcasing of advanced web typesetting techniques

        %li
          %h2
            %strong Lead Front-End Developer
            Study in the USA — Seattle, WA
            %span.dates 06/2011–04/2012
          %ul
            %li Conceptualized JavaScript interaction design and front-end code for large-scale web application with nearly 500,000 monthly unique visitors, localized in 12 languages
            %li Coordinated efforts between design team and back-end developers to ensure consistency between the site’s aesthetic and technical considerations


    %section.education
      %h1 Education
      %ul
        %li
          %h2 The Seattle School of Theology & Psychology, Seattle, WA
          %span Master of Arts, Counseling Psychology, 04/2012
        %li
          %h2 Metropolitan State University of Denver, Denver, CO
          %span Bachelor of Arts, Summa Cum Laude, French Language & Literature, 12/2007

  %aside.speaking-writing
    %section
      %h1 Selected Speaking
      %ul
        %li
          %span.talk-title We All Make Mistakes: Learning from Gaffes in the Ruby Community
          %span.conference-name
            Cascadia Ruby Conference
            %br
            10/2013
        %li
          %span.talk-title Fighting Burnout: Incorporating Rest Into the Software Development Workflow
          %span.conference-name
            Burlington Ruby Conference
            %br
            08/2013
        %li
          %span.talk-title Contributing to Rails
          %span.conference-name
            Seattle Rails Meetup
            %br
            04/2013

    %section
      %h1 Selected Writing
      %ul
        %li
          %span.article-title Adding Backbone.js To An Existing Rails App
          %span.publication Existential Operator, 12/2014
        %li
          %span.article-title Testing Ember.js Models With Jasmine, CoffeeScript, and Rails
          %span.publication Existential Operator, 01/2014
        %li
          %span.article-title A Moment to Breathe
          %span.publication A List Apart, 12/2013
        %li
          %span.article-title About Face: Prenton
          %span.publication Adobe Typekit Blog, 05/2012

